Repository kjappelbaum/mofchecker: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, prospector

isort:
  name: isort
  language: system
  entry: isort

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

prospector:
  language: system
  name: prospector
  entry: prospector

bump minimal pymatgen version (#161)
  setup.py
Due: isort

cache the hash
  mofchecker/utils.py
Due: isort, yapf, prospector

speed up lru cache lookup (#160)
  mofchecker/__init__.py
  mofchecker/checks/utils/get_indices.py
  mofchecker/symmetry/__init__.py
  mofchecker/utils.py
  tests/test_hash.py
Due: isort, yapf, prospector

chore: update changelog
  CHANGELOG.md
Due: none

switch to faster pymatgen
  mofchecker/utils.py
  setup.py
Due: isort, yapf, prospector

chore: ci settings #162
  .github/workflows/python-package.yml
Due: none

fix: ru,c bond threshold
  mofchecker/graph/tuned_vesta.yml
Due: none

fix: functools.cached property needs to be backported for 3.7
  mofchecker/utils.py
Due: isort, yapf, prospector

fix: structure import
  mofchecker/utils.py
Due: isort, yapf, prospector

fix: pin pybind11
  setup.py
Due: isort

fix: pinning pybind does not help
  setup.py
Due: isort

add link to webmofchecker
  README.md
  mofchecker/utils.py
  setup.py
Due: isort, yapf, prospector

Add web link (#169)
  README.md
Due: none

Update setup.py
  setup.py
Due: isort

chore: switch to faster pymatgen (#163)
  mofchecker/utils.py
  setup.py
Due: isort, yapf, prospector

fix: negate has_atomic_overlaps
  README.md
  mofchecker/__init__.py
  mofchecker/checks/local_structure/overlapping_atoms.py
  mofchecker/definitions.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

fix: negate has_atomic_overlaps (#172)
  README.md
  mofchecker/__init__.py
  mofchecker/checks/local_structure/overlapping_atoms.py
  mofchecker/definitions.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

bump conda action, close #176
  .github/workflows/python-package.yml
Due: none

chore: broke gh action
  .github/workflows/python-package.yml
Due: none

docs: update readme
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTING.rst
  README.md
Due: none

Add .deepsource.toml
  .deepsource.toml
Due: none

fix: badge
  README.md
Due: none

fix: broken imports
  mofchecker/__init__.py
  mofchecker/checks/oms/__init__.py
  mofchecker/checks/utils/get_indices.py
  mofchecker/symmetry/__init__.py
Due: isort, yapf, prospector

chore: update ci pipelines to work with main as default branch
  .github/workflows/release_me.yml
Due: none

feat: implement scaffold hash
  .gitignore
  docs/background.rst
  src/mofchecker/__init__.py
  src/mofchecker/graph/__init__.py
  tests/test_hash.py
Due: isort, yapf, prospector

fix: update scaffold hash implementation
  docs/background.rst
  src/mofchecker/__init__.py
  src/mofchecker/graph/__init__.py
  tests/test_files/MOF-74-Zr-NH2.cif
  tests/test_hash.py
Due: isort, yapf, prospector

chore: switch to new release workflow
  .flake8
  .github/workflows/python-package.yml
  .github/workflows/release_me.yml
  .pre-commit-config.yaml
  .pylintrc
  mypy.ini
  setup.cfg
  src/mofchecker/graph/__init__.py
  tox.ini
Due: isort, yapf, prospector

chore: lint
  .flake8
  tox.ini
Due: none

chore: install zeopp in CI
  .flake8
  .github/workflows/python-package.yml
Due: none

chore: install zeopp in CI
  .github/workflows/python-package.yml
  docs/background.rst
Due: none

feat: migrate to structuregraph_helpers
  .github/workflows/python-package.yml
  README.md
  docs/background.rst
  src/mofchecker/__init__.py
  src/mofchecker/checks/floating_solvent.py
  src/mofchecker/checks/local_structure/base_coordination_check.py
  src/mofchecker/checks/local_structure/base_missing_check.py
  src/mofchecker/checks/oms/__init__.py
  src/mofchecker/graph/__init__.py
  src/mofchecker/graph/atom_typing_radii.yml
  src/mofchecker/graph/li_radii.yml
  src/mofchecker/graph/tuned_vesta.yml
  tests/test_hash.py
  tests/test_local_structure.py
  tests/test_symmetry.py
Due: isort, yapf, prospector

chore: remove lint
  src/mofchecker/__init__.py
  src/mofchecker/checks/floating_solvent.py
  src/mofchecker/checks/local_structure/base_coordination_check.py
  src/mofchecker/checks/local_structure/base_missing_check.py
  src/mofchecker/checks/oms/__init__.py
  tests/test_local_structure.py
Due: isort, yapf, prospector

chore: prepare release
  .bumpversion.cfg
  docs/conf.py
  setup.cfg
  src/mofchecker/version.py
Due: isort, yapf, prospector

chore: prepare release
  .bumpversion.cfg
Due: none

Bump version: 0.9.2-dev → 0.9.2
  .bumpversion.cfg
  docs/conf.py
  setup.cfg
  src/mofchecker/version.py
Due: isort, yapf, prospector

chore: prepare release
  .bumpversion.cfg
  setup.cfg
  src/mofchecker/version.py
Due: isort, yapf, prospector

chore: prepare release
  src/mofchecker/version.py
Due: isort, yapf, prospector

Path conditions:
  isort: any of: \.py$
  yapf: any of: \.py$, but not: vversioneer.py|omsdetector/_version.py|setup.py|test/*
  prospector: any of: \.py$, but not: versioneer.py|omsdetector/_version.py|setup.py|test/*
