Repository kjappelbaum/mofchecker: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, prospector

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: trailing-whitespace
      - id: double-quote-string-fixer
      - id: check-json
        name: Check JSON
        description: This hook checks json files for parseable syntax.
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        description: This hook checks yaml files for parseable syntax.
        entry: check-yaml
        language: python
        types: [yaml]
      - id: detect-private-key
        name: Detect Private Key
        description: Detects the presence of private keys
        entry: detect-private-key
        language: python
        types: [text]
      - id: end-of-file-fixer
        name: Fix End of Files
        description: Ensures that a file is either empty, or ends with one newline.
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: fix-encoding-pragma
        name: Fix python encoding pragma
        language: python
        entry: fix-encoding-pragma
        description: "Add # -*- coding: utf-8 -*- to the top of python files"
        types: [python]
      - id: mixed-line-ending
        name: Mixed line ending
        description: Replaces or checks mixed line ending
        entry: mixed-line-ending
        language: python
        types: [text]

  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        types: [python]
        entry: isort
      - id: yapf
        exclude: vversioneer.py|omsdetector/_version.py|setup.py|test/*
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: ["-i"]
      - id: prospector
        exclude: versioneer.py|omsdetector/_version.py|setup.py|test/*
        language: system
        types: [file, python]
        name: prospector
        entry: prospector

chore: updating github actions.
  .github/workflows/python-package.yml
Due: none

fix: installing pytest-cov on github actions.
  .github/workflows/python-package.yml
Due: none

fix: dropping windows support
  .github/workflows/python-package.yml
  README.md
Due: none

chore: updating badge
  README.md
Due: none

chore: updated readme
  README.md
Due: none

chore: added test cases
  README.md
  omsdetector/__init__.py
  omsdetector/definitions.py
  omsdetector/utils.py
  setup.cfg
  setup.py
  tests/conftest.py
  tests/test_files/ABAVIJ_clean.cif
  tests/test_files/ABEXEM_clean.cif
  tests/test_files/ABEXIQ_clean.cif
  tests/test_files/ADABIS_clean.cif
  tests/test_files/ALUJOH_clean.cif
  tests/test_files/AMUFIZ_clean.cif
  tests/test_files/DAWWEF_clean.cif
  tests/test_files/DEJCIF_clean.cif
  tests/test_files/ELIYUU_clean.cif
  tests/test_files/FAPXIG_clean.cif
  tests/test_files/ZUQBUK_clean.cif
  tests/test_files/ZUSNOS_clean.cif
  tests/test_files/ac403674p_si_001_clean.cif
  tests/test_omsdetector.py
Due: isort, yapf, prospector

feat: added overlap check and property for c/h/overvalent c - addressing #2
  README.md
  mofchecker/__init__.py
  mofchecker/definitions.py
  mofchecker/utils.py
  omsdetector/definitions.py
  omsdetector/utils.py
  setup.py
  tests/conftest.py
  tests/test_files/PADHIM_clean.cif
  tests/test_files/REHHIX_clean.cif
  tests/test_files/RUYGEZ_clean.cif
  tests/test_files/UFEXOT_clean.cif
  tests/test_mofchecker.py
  tests/test_omsdetector.py
Due: isort, yapf, prospector

chore: added tests
  mofchecker/__init__.py
  mofchecker/definitions.py
  tests/conftest.py
  tests/test_files/VOXVEL_clean.cif
  tests/test_files/VUGYED_clean.cif
  tests/test_files/ZADDAJ_clean.cif
  tests/test_files/ZUWXUM_clean.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: introduced changelog
  .gitchangelog.rc
  CHANGELOG.md
  setup.py
Due: isort

chore: updated tests
  CHANGELOG.md
  tests/conftest.py
  tests/test_files/ELUQIM13_clean.cif
  tests/test_files/TONTIB_clean.cif
Due: isort

chore: updated changelog config
  .gitchangelog.rc
  CHANGELOG.md
Due: none

chore: added docstrings
  mofchecker/__init__.py
  mofchecker/utils.py
Due: isort, yapf, prospector

chore: changed changelog format
  .vscode/settings.json
  CHANGELOG.rst
Due: none

chore: added mof descriptors
  CHANGELOG.rst
  mofchecker/__init__.py
Due: isort, yapf, prospector

BREAKING: has_metal is now a property and not a function
  .gitchangelog.rc
  CHANGELOG.rst
  README.md
  mofchecker/__init__.py
Due: isort, yapf, prospector

feat: basic CLI implemented
  CHANGELOG.rst
  README.md
  mofchecker/cli.py
  mofchecker/utils.py
  requirements.txt
  setup.py
Due: isort, yapf, prospector

chore: added help for the CLI
  CHANGELOG.rst
  README.md
  mofchecker/cli.py
Due: isort, yapf, prospector

fix: has_carbon in descriptor
  README.md
  examples/mof_feat.csv
  examples/test_on_core.ipynb
  examples/test_on_core.py
  mofchecker/__init__.py
  setup.py
Due: isort, yapf, prospector

chore: remove scheduled CI as long as I didn't fix it
  .github/workflows/python-package.yml
Due: none

added overvalent_n
  mofchecker/__init__.py
Due: isort, yapf, prospector

added overvalent_n check
  mofchecker/__init__.py
Due: isort, yapf, prospector

chore: added overvalent n to CLI
  examples/test_on_core.py
  mofchecker/cli.py
Due: isort, yapf, prospector

chore: initial lone atom implementation
  mofchecker/__init__.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

feat: implemented check for lone atoms and molecules
  .gitchangelog.rc
  CHANGELOG.md
  CHANGELOG.rst
  README.md
  mofchecker/__init__.py
  mofchecker/cli.py
  mofchecker/utils.py
  tests/test_files/HKUST_floating.cif
  tests/test_files/UiO_66_water.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: refactoring developer tooling
  .coveragerc
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release_me.yml
  .pre-commit-config.yaml
  .prospector.yaml
  .pylintrc
  .readthedocs.yml
  CONTRIBUTING.md
  MANIFEST.in
  mypy.ini
  setup.cfg
  setup.py
Due: isort

chore: unpinning versions
  .github/workflows/python-package.yml
  requirements.txt
Due: none

fix: subgraph check for newer networkx versions
  mofchecker/__init__.py
  mofchecker/utils.py
Due: isort, yapf, prospector

docs: basic sphinx docs, closes #27
  .gitattributes
  MANIFEST.in
  docs/Makefile
  docs/api.rst
  docs/conf.py
  docs/developer_notes.rst
  docs/index.rst
  docs/make.bat
  mofchecker/__init__.py
  mofchecker/_version.py
  versioneer.py
Due: isort, yapf, prospector

docs: basic sphinx docs, closes #27
  mofchecker/__init__.py
  setup.py
Due: isort, yapf, prospector

docs: updated badges in readme
  README.md
Due: none

feat: check for H with more than one neighbor
  mofchecker/__init__.py
Due: isort, yapf, prospector

feat: check for missing H on carbon and nitrogen
  README.md
  docs/background.rst
  docs/conf.py
  docs/index.rst
  docs/logo.indd
  docs/logo.png
  mofchecker/__init__.py
  mofchecker/definitions.py
  tests/conftest.py
  tests/test_files/AHOKIR_clean.cif
  tests/test_files/mil-53-al-nh2.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

feat: heuristics for missing H on C and N (#33)
  README.md
  docs/background.rst
  docs/conf.py
  docs/index.rst
  docs/logo.indd
  docs/logo.png
  mofchecker/__init__.py
  mofchecker/definitions.py
  tests/conftest.py
  tests/test_files/AHOKIR_clean.cif
  tests/test_files/mil-53-al-nh2.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: trying to fix coverage, addressing #35
  .github/workflows/python-package.yml
Due: none

chore: linting
  .pre-commit-config.yaml
  docs/developer_notes.rst
  examples/test_on_core.py
  mofchecker/__init__.py
  mofchecker/_version.py
  mofchecker/cli.py
  tests/test_files/mil-53-al-nh2.cif
  versioneer.py
Due: isort, yapf, prospector

docs: updated installation section in readme
  README.md
Due: none

docs: updated the features in readme
  README.md
Due: none

chore: updated py version classifiers
  setup.py
Due: isort

chore: updated py version classifiers (#38)
  setup.py
Due: isort
