Repository kjappelbaum/mofchecker: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, prospector

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: trailing-whitespace
      - id: double-quote-string-fixer
      - id: check-json
        name: Check JSON
        description: This hook checks json files for parseable syntax.
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        description: This hook checks yaml files for parseable syntax.
        entry: check-yaml
        language: python
        types: [yaml]
      - id: detect-private-key
        name: Detect Private Key
        description: Detects the presence of private keys
        entry: detect-private-key
        language: python
        types: [text]
      - id: end-of-file-fixer
        name: Fix End of Files
        description: Ensures that a file is either empty, or ends with one newline.
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: fix-encoding-pragma
        name: Fix python encoding pragma
        language: python
        entry: fix-encoding-pragma
        description: "Add # -*- coding: utf-8 -*- to the top of python files"
        types: [python]
      - id: mixed-line-ending
        name: Mixed line ending
        description: Replaces or checks mixed line ending
        entry: mixed-line-ending
        language: python
        types: [text]

  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        types: [python]
        entry: isort
      - id: yapf
        exclude: vversioneer.py|omsdetector/_version.py|setup.py|test/*
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: ["-i"]
      - id: prospector
        exclude: versioneer.py|omsdetector/_version.py|setup.py|test/*
        language: system
        types: [file, python]
        name: prospector
        entry: prospector

is_metal choks on Deuterium
  tests/test_files/BIXVEM.cif
  tests/test_mofchecker.py
Due: isort

return median covalent radius for unknown elements
  mofchecker/utils.py
  tests/conftest.py
  tests/test_files/GUPQOA.cif
  tests/test_mofchecker.py
  tests/test_utils.py
Due: isort, yapf, prospector

fix float check
  mofchecker/definitions.py
Due: isort, yapf, prospector

return median covalent radius for unknown elements (#98)
  mofchecker/definitions.py
  mofchecker/utils.py
  tests/conftest.py
  tests/test_files/GUPQOA.cif
  tests/test_mofchecker.py
  tests/test_utils.py
Due: isort, yapf, prospector

fix: using our own metal set
  mofchecker/__init__.py
  mofchecker/definitions.py
  mofchecker/utils.py
Due: isort, yapf, prospector

disable pylint duplicated code
  tests/test_utils.py
Due: isort

disable pylint duplicated code
  mofchecker/definitions.py
Due: isort, yapf, prospector

disable pylint duplicated code
  .pre-commit-config.yaml
  mofchecker/definitions.py
  tests/test_utils.py
Due: isort, yapf, prospector

fix: is_metal choked on D, was not consistent with CSD (#99)
  .pre-commit-config.yaml
  mofchecker/__init__.py
  mofchecker/definitions.py
  mofchecker/utils.py
  tests/test_files/BIXVEM.cif
  tests/test_mofchecker.py
  tests/test_utils.py
Due: isort, yapf, prospector

fix: check for openbabel on top level
  mofchecker/__init__.py
Due: isort, yapf, prospector

chore: only try to import openbabel on top level (#101)
  mofchecker/__init__.py
Due: isort, yapf, prospector

feat: basic zeo++ check
  mofchecker/utils.py
  mofchecker/zeopp.py
  outout.res
  tests/test_files/1246903.res
  tests/test_files/1246903.vol
  tests/test_files/paddlewheel_cn5.res
  tests/test_zeopp.py
Due: isort, yapf, prospector

feat: basic zeo++ check
  outout.res
Due: none

added tests
  .github/workflows/python-package.yml
  mofchecker/__init__.py
  mofchecker/definitions.py
  mofchecker/zeopp.py
  tests/test_mofchecker.py
  tests/test_zeopp.py
Due: isort, yapf, prospector

chore: updating readme
  README.md
Due: none

fixing zeo++ test
  tests/test_zeopp.py
Due: isort

docs for porosity check
  docs/background.rst
  docs/getting_started.rst
  mofchecker/__init__.py
  mofchecker/checks/__init__.py
  mofchecker/checks/utils.py
  mofchecker/checks/zeopp.py
  mofchecker/utils.py
  tests/test_zeopp.py
Due: isort, yapf, prospector

fix: including requirements.txt in MANIFEST.in
  MANIFEST.in
Due: none

fix: including requirements.txt in MANIFEST.in (#109)
  MANIFEST.in
Due: none

feat: basic zeo++ check (#104)
  .github/workflows/python-package.yml
  README.md
  docs/background.rst
  docs/getting_started.rst
  mofchecker/__init__.py
  mofchecker/checks/__init__.py
  mofchecker/checks/utils.py
  mofchecker/checks/zeopp.py
  mofchecker/definitions.py
  tests/test_files/1246903.res
  tests/test_files/1246903.vol
  tests/test_files/paddlewheel_cn5.res
  tests/test_mofchecker.py
  tests/test_zeopp.py
Due: isort, yapf, prospector

docs: adding background to the docs
  docs/index.rst
Due: none

thinking about graph hash:
  docs/background.rst
  mofchecker/__init__.py
  mofchecker/hash.py
  tests/test_files/943643.cif
  tests/test_files/943644.cif
  tests/test_hash.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

working on hash docs
  docs/_static/VOGTIV.jpg
  docs/_static/VOGTIV_ni.jpg
  docs/_static/hash_comparison_mof_74.ai
  docs/_static/hash_comparison_mof_74.jpg
  docs/background.rst
Due: none

working on the docs
  docs/background.rst
  mofchecker/__init__.py
  tests/test_hash.py
Due: isort, yapf, prospector

updated docs, fixed OMS detection
  docs/_static/wl_hash.ai
  docs/_static/wl_hash.png
  docs/background.rst
  mofchecker/__init__.py
  mofchecker/definitions.py
  tests/test_files/COKNUN.cif
  tests/test_files/ORIWET.cif
  tests/test_hash.py
Due: isort, yapf, prospector

rebase, linting
  .lgtm.yml
  mofchecker/__init__.py
  mofchecker/atomic_data.yml
  mofchecker/checks/hash.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

remove deuterium test for separate PR
  tests/test_mofchecker.py
Due: isort

feat: improve hash (#108)
  .lgtm.yml
  docs/_static/VOGTIV.jpg
  docs/_static/VOGTIV_ni.jpg
  docs/_static/hash_comparison_mof_74.ai
  docs/_static/hash_comparison_mof_74.jpg
  docs/_static/wl_hash.ai
  docs/_static/wl_hash.png
  docs/background.rst
  mofchecker/__init__.py
  mofchecker/atomic_data.yml
  mofchecker/checks/hash.py
  mofchecker/definitions.py
  tests/test_files/943643.cif
  tests/test_files/943644.cif
  tests/test_files/COKNUN.cif
  tests/test_files/ORIWET.cif
  tests/test_hash.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

docs: fixing links
  docs/background.rst
Due: none

docs: update background on graph hashes
  docs/background.rst
Due: none

docs: update background on graph hashes (#117)
  docs/background.rst
Due: none

chore(deps): pin major versions
  requirements.txt
  setup.py
Due: isort

chore(devtools): updated PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(deps): pin major versions
  requirements.txt
Due: none

chore(devtools): updated PR template (#120)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

pymatgen and its versioning...
  requirements.txt
Due: none

chore(deps): pin major versions (#119)
  requirements.txt
  setup.py
Due: isort

docs: remove indent
  docs/background.rst
Due: none

chore: make ready for new pymatgen namespace packages
  mofchecker/__init__.py
  mofchecker/checks/hash.py
  mofchecker/checks/zeopp.py
  mofchecker/utils.py
Due: isort, yapf, prospector
