Repository kjappelbaum/mofchecker: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, prospector

isort:
  name: isort
  language: system
  entry: isort

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

prospector:
  language: system
  name: prospector
  entry: prospector

chore: remoe check for group 1/2 metals, #50
  tests/test_mofchecker.py
Due: isort

fix: patches linear CN=2 case, #48
  mofchecker/__init__.py
  mofchecker/utils.py
  tests/test_files/ABOVOF_FSR.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: do not say it is overvalent if there are metal bonds
  mofchecker/__init__.py
  mofchecker/utils.py
  tests/test_files/XIGFOJ_manual.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: double check for lone atoms, #62
  mofchecker/__init__.py
  tests/test_files/FEZTIP_clean.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: added tests for alkine ligands
  tests/test_files/RUDQUD_clean.cif
  tests/test_mofchecker.py
Due: isort

chore: adding more tests to address #59
  tests/test_files/AGARUW_clean.cif
  tests/test_mofchecker.py
Due: isort

fix: typo, closes #65
  mofchecker/__init__.py
Due: isort, yapf, prospector

chore: started to make the undercoordination checks safer
  mofchecker/__init__.py
  mofchecker/utils.py
  tests/test_files/OTOXIF_clean.cif
Due: isort, yapf, prospector

feat: extend check for undercoordinated metals, closes #67
  .vscode/settings.json
  mofchecker/__init__.py
  mofchecker/utils.py
  requirements.txt
  tests/test_mofchecker.py
Due: isort, yapf, prospector

feat: extend check for undercoordinated metals, closes #67 (#70)
  .vscode/settings.json
  mofchecker/__init__.py
  mofchecker/utils.py
  requirements.txt
  tests/test_mofchecker.py
Due: isort, yapf, prospector

add networkx req
  README.md
  requirements.txt
Due: none

add networkx req (#83)
  README.md
  requirements.txt
Due: none

add test for graph hash robustness
  tests/test_mofchecker.py
Due: isort

fix: fixed graph hash implementation
  mofchecker/__init__.py
  tests/test_files/MOHGOI.cif
  tests/test_files/TODYUJ.cif
  tests/test_files/VOGTIV.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: linting
  mofchecker/__init__.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: linting
  mofchecker/utils.py
Due: isort, yapf, prospector

fix: fixed graph hash implementation (#85)
  mofchecker/__init__.py
  mofchecker/utils.py
  tests/test_files/MOHGOI.cif
  tests/test_files/TODYUJ.cif
  tests/test_files/VOGTIV.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: adding more graph tests
  tests/test_files/MOF-74-Zr.cif
  tests/test_mofchecker.py
Due: isort

chore: adding more graph tests
  tests/test_files/ZIF-8-RASPA.cif
  tests/test_files/mof-5_cellopt.cif
  tests/test_mofchecker.py
Due: isort

chore: adding more graph tests
  tests/test_files/WIZMAV02_auto.cif
  tests/test_files/coknun01.cif
  tests/test_mofchecker.py
Due: isort

chore: remove print statement
  mofchecker/utils.py
  tests/test_files/coknun01.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

add test for undercoordinated N
  tests/test_files/N_MOF_asr.cif
  tests/test_mofchecker.py
Due: isort

add test for lone atom <> vdw radius
  tests/test_files/MOF_vdw_test.cif
  tests/test_mofchecker.py
Due: isort

readme: start explaining methods of checks
  README.md
  mofchecker/__init__.py
Due: isort, yapf, prospector

fix: graph hash and scaffold hash are now separate properties
  mofchecker/__init__.py
  tests/test_files/MOF-74-Zn.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

fix: graph hash and scaffold hash are now separate properties (#90)
  mofchecker/__init__.py
  tests/test_files/MOF-74-Zn.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

fix call to is_metal
  mofchecker/__init__.py
  tests/test_files/N_MOF_ASR.cif
Due: isort, yapf, prospector

fix: neighbor computation in case vdw radius not known
  .github/ISSUE_TEMPLATE/bug_report.md
  mofchecker/atomic_data.yml
  mofchecker/definitions.py
  mofchecker/utils.py
  tests/test_files/MOF_vdw_test.cif
  tests/test_mofchecker.py
  tests/test_utils.py
Due: isort, yapf, prospector

add test for lone atom <> vdw radius (#88)
  .github/ISSUE_TEMPLATE/bug_report.md
  mofchecker/atomic_data.yml
  mofchecker/definitions.py
  mofchecker/utils.py
  tests/test_utils.py
Due: isort, yapf, prospector

flipping assert statement
  mofchecker/__init__.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

readme: start explaining methods of checks (#89)
  README.md
  mofchecker/__init__.py
Due: isort, yapf, prospector

show slowest 10 tests with timings
  .github/workflows/python-package.yml
Due: none

Nitrogen test (#87)
  mofchecker/__init__.py
  tests/test_files/N_MOF_ASR.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: show slowest 10 tests with timings (#95)
  .github/workflows/python-package.yml
Due: none

test reading structure
  tests/test_files/ABUBIK.cif
  tests/test_mofchecker.py
Due: isort

fix: fail for partial occupancy
  mofchecker/__init__.py
  mofchecker/utils.py
  tests/test_files/ABUBIK.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

updating docstring
  mofchecker/__init__.py
Due: isort, yapf, prospector

fix: dealing with partial occupancy (#97)
  mofchecker/__init__.py
  mofchecker/utils.py
  tests/test_files/ABUBIK.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

Path conditions:
  isort: any of: \.py$
  yapf: any of: \.py$, but not: vversioneer.py|omsdetector/_version.py|setup.py|test/*
  prospector: any of: \.py$, but not: versioneer.py|omsdetector/_version.py|setup.py|test/*
