Repository kjappelbaum/mofchecker: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, prospector

isort:
  name: isort
  language: system
  entry: isort

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

prospector:
  language: system
  name: prospector
  entry: prospector

fix: oversensitive checks
  new_cif.cif
Due: none

fix: oversensitive checks (#138)
  mofchecker/checks/local_structure/geometry.py
  mofchecker/checks/local_structure/undercoordinated_nitrogen.py
  mofchecker/checks/oms/__init__.py
  mofchecker/graph/__init__.py
  mofchecker/graph/tuned_vesta.yml
  tests/test_files/DALVIY_clean.cif
  tests/test_files/abiqae.cif
  tests/test_files/axipee.cif
  tests/test_hash.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

fix: oversensitive floating atom check
  mofchecker/graph/tuned_vesta.yml
  tests/test_mofchecker.py
Due: isort

fix: oversensitive floating atom check (#140)
  mofchecker/graph/tuned_vesta.yml
  tests/test_mofchecker.py
Due: isort

feat: addd checks property and names of checks
  mofchecker/__init__.py
  mofchecker/checks/charge_check.py
  mofchecker/checks/check_base.py
  mofchecker/checks/floating_solvent.py
  mofchecker/checks/local_structure/false_oxo.py
  mofchecker/checks/local_structure/overcoordinated_carbon.py
  mofchecker/checks/local_structure/overcoordinated_hydrogen.py
  mofchecker/checks/local_structure/overcoordinated_nitrogen.py
  mofchecker/checks/local_structure/overlapping_atoms.py
  mofchecker/checks/local_structure/undercoordinated_carbon.py
  mofchecker/checks/local_structure/undercoordinated_nitrogen.py
  mofchecker/checks/local_structure/undercoordinated_rare_earth.py
  mofchecker/checks/zeopp.py
  mofchecker/graph/tuned_vesta.yml
  tests/test_hash.py
Due: isort, yapf, prospector

fix: loosen version limit om pymatgen
  mofchecker/checks/local_structure/overlapping_atoms.py
  setup.py
Due: isort, yapf, prospector

fix: do not pin pymatgen
  setup.py
Due: isort

feat: add hash for the wyckoff positions
  mofchecker/symmetry/__init__.py
  mofchecker/symmetry/hash.py
  setup.py
  tests/test_symmetry.py
Due: isort, yapf, prospector

feat: add spacegroup properties
  mofchecker/__init__.py
  mofchecker/symmetry/__init__.py
  tests/test_symmetry.py
Due: isort, yapf, prospector

feat: symmetry hash (#141)
  mofchecker/__init__.py
  mofchecker/symmetry/__init__.py
  mofchecker/symmetry/hash.py
  setup.py
  tests/test_symmetry.py
Due: isort, yapf, prospector

fix: use set of wyckoff letters
  mofchecker/symmetry/hash.py
Due: isort, yapf, prospector

fix: failing tests for descriptions
  docs/background.rst
  mofchecker/__init__.py
  mofchecker/errors.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: let's not deprecate the run all for now
  mofchecker/__init__.py
Due: isort, yapf, prospector

fix: include yml files in MANIFEST
  .vscode/settings.json
  MANIFEST.in
Due: none

don't print indices for undercoordinated nitrogen
  mofchecker/checks/local_structure/undercoordinated_nitrogen.py
Due: isort, yapf, prospector

add simple command line interface
  README.md
  mofchecker/__init__.py
  mofchecker/checks/charge_check.py
  mofchecker/checks/local_structure/false_oxo.py
  mofchecker/cli.py
  mofchecker/graph/__init__.py
  setup.py
  tests/test_cli.py
Due: isort, yapf, prospector

fix: remove unused cycle basis calculation
  mofchecker/graph/__init__.py
Due: isort, yapf, prospector

allow selecting specific descriptors
  README.md
  mofchecker/__init__.py
  mofchecker/checks/local_structure/false_oxo.py
  mofchecker/cli.py
  setup.py
  tests/test_cli.py
Due: isort, yapf, prospector

Update mofchecker/__init__.py
  mofchecker/__init__.py
Due: isort, yapf, prospector

pylint fixes
  examples/test_on_core.ipynb
  examples/test_on_core.py
  mofchecker/checks/check_base.py
  mofchecker/checks/local_structure/geometry.py
  mofchecker/graph/__init__.py
  setup.py
  tests/test_global_structure.py
Due: isort, yapf, prospector

Add command-line interface (#143)
  README.md
  examples/test_on_core.ipynb
  examples/test_on_core.py
  mofchecker/__init__.py
  mofchecker/checks/charge_check.py
  mofchecker/checks/check_base.py
  mofchecker/checks/local_structure/geometry.py
  mofchecker/checks/local_structure/undercoordinated_nitrogen.py
  mofchecker/cli.py
  mofchecker/graph/__init__.py
  setup.py
  tests/test_cli.py
  tests/test_global_structure.py
Due: isort, yapf, prospector

feat: add B-C bond in cutoffs
  mofchecker/graph/tuned_vesta.yml
Due: none

feat: initial implementation of database lookup
  MANIFEST.in
  mofchecker/database/__init__.py
  mofchecker/database/composition_dict.pkl
  mofchecker/database/graph_hash_dict.pkl
  mofchecker/database/scaffold_hash_dict.pkl
  mofchecker/database/symmetry_hash_dict.pkl
  mofchecker/utils.py
  tests/test_database.py
Due: isort, yapf, prospector

feat: thinking on how to reduce the redudancy with check declaration
  mofchecker/__init__.py
Due: isort, yapf, prospector

chore: prepare new release
  setup.py
  tests/test_hash.py
Due: isort

chore: remove lint
  .pre-commit-config.yaml
  .pylintrc
  mofchecker/__init__.py
  mofchecker/checks/charge_check.py
  mofchecker/checks/local_structure/false_oxo.py
  mofchecker/checks/local_structure/geometry.py
  mofchecker/checks/local_structure/overcoordinated_carbon.py
  mofchecker/checks/local_structure/overcoordinated_hydrogen.py
  mofchecker/checks/local_structure/overcoordinated_nitrogen.py
  mofchecker/checks/local_structure/undercoordinated_carbon.py
  mofchecker/checks/local_structure/undercoordinated_nitrogen.py
  mofchecker/checks/local_structure/undercoordinated_rare_earth.py
  tests/test_global_structure.py
Due: isort, yapf, prospector

feat: make pyeqeq optional
  LICENSE
  mofchecker/checks/charge_check.py
  setup.py
Due: isort, yapf, prospector

chore: fix license in setup.py remove lint
  mofchecker/graph/__init__.py
  setup.py
Due: isort, yapf, prospector

chore: install eqeq in actions
  .github/workflows/python-package.yml
Due: none

fix: license classifier
  setup.py
Due: isort

chore: fix CI
  .github/workflows/python-package.yml
Due: none

speed up lru cache lookup
  mofchecker/__init__.py
  mofchecker/checks/utils/get_indices.py
  mofchecker/symmetry/__init__.py
  mofchecker/utils.py
  tests/test_hash.py
Due: isort, yapf, prospector

limit cache to objects of same id
  mofchecker/utils.py
Due: isort, yapf, prospector

move to hash based on dict serialization
  mofchecker/utils.py
Due: isort, yapf, prospector

bump minimal pymatgen version
  setup.py
Due: isort

Path conditions:
  isort: any of: \.py$
  yapf: any of: \.py$, but not: vversioneer.py|omsdetector/_version.py|setup.py|test/*
  prospector: any of: \.py$, but not: versioneer.py|omsdetector/_version.py|setup.py|test/*
