Repository kjappelbaum/mofchecker: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, prospector

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: trailing-whitespace
      - id: double-quote-string-fixer
      - id: check-json
        name: Check JSON
        description: This hook checks json files for parseable syntax.
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        description: This hook checks yaml files for parseable syntax.
        entry: check-yaml
        language: python
        types: [yaml]
      - id: detect-private-key
        name: Detect Private Key
        description: Detects the presence of private keys
        entry: detect-private-key
        language: python
        types: [text]
      - id: end-of-file-fixer
        name: Fix End of Files
        description: Ensures that a file is either empty, or ends with one newline.
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: fix-encoding-pragma
        name: Fix python encoding pragma
        language: python
        entry: fix-encoding-pragma
        description: "Add # -*- coding: utf-8 -*- to the top of python files"
        types: [python]
      - id: mixed-line-ending
        name: Mixed line ending
        description: Replaces or checks mixed line ending
        entry: mixed-line-ending
        language: python
        types: [text]

  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        types: [python]
        entry: isort
      - id: yapf
        exclude: vversioneer.py|omsdetector/_version.py|setup.py|test/*
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: ["-i"]
      - id: prospector
        exclude: versioneer.py|omsdetector/_version.py|setup.py|test/*
        language: system
        types: [file, python]
        name: prospector
        entry: prospector

docs: link to webapp
  README.md
Due: none

docs: Readme links to webapp (#39)
  README.md
Due: none

feat: add check descriptions and expected values
  mofchecker/__init__.py
  mofchecker/definitions.py
Due: isort, yapf, prospector

chore: added tests
  tests/test_mofchecker.py
Due: isort

feat: expected values and descriptions for checks (#42)
  mofchecker/__init__.py
  mofchecker/definitions.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

add some internal caches
  .pre-commit-config.yaml
  .prospector.yaml
  .pylintrc
  mofchecker/__init__.py
  mofchecker/cli.py
  mofchecker/utils.py
  setup.py
Due: isort, yapf, prospector

fix linting
  .github/workflows/python-package.yml
  .pylintrc
  mofchecker/definitions.py
  mofchecker/utils.py
  tests/conftest.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: add some internal caches (#44)
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  .prospector.yaml
  mofchecker/__init__.py
  mofchecker/cli.py
  mofchecker/definitions.py
  mofchecker/utils.py
  setup.py
  tests/conftest.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: fix pre-commit hook for example
  examples/test_on_core.py
Due: isort

docs: added installation notes and basic user guide
  docs/developer_notes.rst
  docs/getting_started.rst
  docs/index.rst
Due: none

chore: using conda for the docs environment
  .readthedocs.yml
  docs/environment.yml
  requirements.txt
Due: none

chore: need to append path before I import things
  docs/conf.py
Due: isort, yapf, prospector

chore: completing setup.py
  setup.py
Due: isort

fix: underbound N check, closes #48
  mofchecker/__init__.py
  mofchecker/utils.py
  tests/test_files/1246903.cif
  tests/test_files/1246903_missing_H.cif
  tests/test_files/ABAXUZ.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

feat: implemented charge check
  docs/getting_started.rst
  mofchecker/__init__.py
  mofchecker/utils.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: install openbabel
  .github/workflows/python-package.yml
  docs/getting_started.rst
  mofchecker/__init__.py
  mofchecker/utils.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: install openbabel
  .github/workflows/python-package.yml
  mofchecker/definitions.py
Due: isort, yapf, prospector

feat: implement check for low metal coordination
  mofchecker/__init__.py
  mofchecker/definitions.py
  mofchecker/utils.py
  tests/test_files/GADRAH_clean.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

feat: implement check for low metal coordination
  mofchecker/__init__.py
  mofchecker/definitions.py
  mofchecker/utils.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

feat: implement check for low metal coordination (#53)
  mofchecker/__init__.py
  mofchecker/definitions.py
  mofchecker/utils.py
  tests/test_files/GADRAH_clean.cif
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: use conda
  .github/workflows/python-package.yml
Due: none

chore: working oh gh actions
  .github/workflows/python-package.yml
Due: none

feat: implemented charge check (#52)
  .github/workflows/python-package.yml
  docs/getting_started.rst
  mofchecker/__init__.py
  mofchecker/definitions.py
  mofchecker/utils.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: updated readme, closes #55
  README.md
Due: none

chore: removed print statements
  mofchecker/__init__.py
  mofchecker/utils.py
Due: isort, yapf, prospector

feat: added option to return the Weisfeiler-Lehman hash of the structure graph
  mofchecker/__init__.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

feat: added option to return the Weisfeiler-Lehman hash of the structure graph (#58)
  mofchecker/__init__.py
  tests/test_mofchecker.py
Due: isort, yapf, prospector

chore: update pylint settings
  .pylintrc
Due: none

chore: github actions
  .github/workflows/python-package.yml
Due: none

chore: also return graph hash
  mofchecker/__init__.py
Due: isort, yapf, prospector

docs: updated features in readme
  README.md
Due: none

chore: improved logging
  .github/workflows/python-package.yml
  mofchecker/__init__.py
  mofchecker/utils.py
Due: isort, yapf, prospector

chore: test conda forge channel for openbabel
  .github/workflows/python-package.yml
  mofchecker/__init__.py
Due: isort, yapf, prospector

chore: remoe check for group 1/2 metals, #50
  mofchecker/utils.py
Due: isort, yapf, prospector
